
.progress_box{width: 94%;margin: 0 auto;margin-top: 50px;}
.progress_line{width: 100%;height: 2px;background: linear-gradient(to right, rgba(193,235,255,1), rgba(193,235,255,0.6));}
.progress_ul{display:flex;width: 100%;margin-top: -7px;}
.progress_ul > li{flex: 1;text-align: center;}
.progress_ul > li >i{display:inline-block;width: 14px;height: 14px;background-color:#bdbdbd;border-radius: 50%;box-shadow: 0 0 8px #bababa;animation:mygray 3s infinite;}
.progress_ul > li >i.active{background-color:#009cff;box-shadow: 0 0 8px #009cff;animation:myfirst 3s infinite;}
.progress_ul > li >span{display:block;margin-top:5px;font-size: 12px;color: #615f5f;}
.progress_ul > li >span.active{color: #009cff;}
.submit_box{width: 94%;margin:0 auto;margin-top:40px;background: #fff;box-shadow: 0 0 3px #ccc;border-radius: 4px;font-size: 14px;position: relative;padding-top: 35px;}
.submit_box > h5{height: 46px;line-height:46px;padding: 0 14px;margin: 0;}
.submit_box > h5.first{margin-top: -10px;}
.details_box{padding:0 14px;position: relative;padding-bottom: 25px;}
.details_box > p{display: inline-block;line-height: 25px;margin-left: 70px;margin-top: -20px;}
.img_box{margin-left: 70px;margin-bottom: 10px;}
.img_box>img{width: 60px;height: 60px;margin-right: 5px;}
.font12{font-size: 12px;}
.submit_title{position:absolute;top:-20px;width: 100px;height: 40px;line-height: 40px;margin: 0 auto;box-shadow:0 0 3px #ccc;border-radius: 4px;text-align: center;font-size: 16px;background-color: #fff;}
.details_box .date{position: absolute;right: 14px;font-size: 12px;}
.already_p{padding: 0 14px;line-height: 25px;font-size: 14px;}

.dialog_box{padding:0 14px 23px;}
@keyframes myfirst
{
    from {box-shadow: 0 0 1px #009cff;}
    to {box-shadow: 0 0 20px #009cff;}
}
@keyframes mygray
{
    from {box-shadow: 0 0 1px #bdbdbd;}
    to {box-shadow: 0 0 20px #bdbdbd;}
}

.company_say,.customer_say,.details_things{width: 100%;display: flex;margin-bottom: 20px;}
.company_say > .title,.customer_say > .title,.details_things > .title{display: inline-block;flex: 0 0 80px}
.company_say > .content,.customer_say > .content,.details_things > .content{display: inline-block;line-height: 22px;word-wrap: break-word;width: 76%;margin-top: -4px;}
.ID_input_box input, .name_input_box input{left: 0;}
.name_input_box{width: 100%;margin-top: -20px;margin-bottom: 20px;}
.name_input_box input{width: 70%;}
.complain_obj{display: inline-block;line-height: 22px;word-wrap: break-word;width: 76%;margin-top: -4px;}
.getCode{font-size: 12px;background-color: #0e9fff;color: #fff;border-radius: 4px;padding: 8px 12px;position: absolute;right: 0;bottom: 5px; }
.getCode:active{background-color: #4cb9eb;}

.btn_box{width: 74%;margin: 0 auto;margin-top: 50px;margin-bottom: 50px;height: 45px;}
.btn_small{width: 40%;font-size: 16px;}
.btn_small_left{float: left;}
.btn_small_right{float: right;}

.pop_authentication_success,.pop_authentication_fail{width: 80%;height: 400px;}
.pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 340px;text-align: center}
.pop-cont>img{width: 150.5px;height: 116.5px;margin: 56px 0 50px 0;}
.pop-cont>h4{font-size: 14px;color:#615f5f;}
.pop-cont>.fail{color:#fb595d;}
.pop-cont>h5{margin-top:20px;font-size: 14px;color:#b3b3b3;}
.btn_box_small{width: 74%;margin: 0 auto;margin-top: 15px;}
.pop-cont>.img_big{width: 100%;height: auto;max-height: 100%;margin: -7px 0 50px 0;}
.solve_box{margin-bottom: 50px;}
/*.img_pop{background-color:rgba(93,94,96,0.8)}*/
.img_pop{background-color: transparent;border: 0;box-shadow: 0 0 0px rgba(0,0,0,0.5);}
.pop-title>.close_img{right:0}
/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .progress_ul{margin-top: -13px;}
    .pop-cont>.img_big{max-height: 110%;}
}
/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
    .img_box>img{width: 60px;height: 60px;margin-right: 0px;}

    .pop_authentication_success,.pop_authentication_fail{width: 80%;height: 340px;}
    .pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 280px;text-align: center}
    .pop-cont>img{width: 152px;height: 119.5px;margin: 36px 0 30px 0;}
    .pop-cont>.fail{color:#fb595d;}
    .pop-cont>h5{margin-top:15px;font-size: 14px;color:#b3b3b3;}

}