.title_num{width: 100%;line-height: 80px;height:80px;text-align: center;font-size: 16px;}
.tip{width: 100%;line-height: 40px;height: 40px;text-align: center;font-size: 12px;}
.ID_input_box input, .name_input_box input{left: 0;}
.name_input_box input{width: 70%;}
.getCode{font-size: 12px;background-color: #0e9fff;color: #fff;border-radius: 4px;padding: 8px 12px;position: absolute;right: 0;bottom: 5px; ;}
.getCode:active{background-color: #4cb9eb;}
.btn_ok{margin-top: 100px;}
.hide{display: none;}