.complaint_box{width: 94%;margin:0 auto;box-shadow: 0 0 5px #ccc;background-color: #fff;border-radius: 4px;margin-top: 40px;margin-bottom: 120px;}
.complaint_box > h5{width:98%;height:50px;line-height:50px;text-align:center;color: #615f5f;font-size: 14px;}
.item_box{position:relative;width:96%;height: 112px;margin:0 auto;border-top: 1px solid #eaedf1;}
.avatar{display: inline-block;width: 111.5px;height:111.5px;position: absolute;left: 0;}
.avatar > img{display: inline-block;width: 104px;height: 104px;margin-top: 4px;}
.avatar_text_box{display: inline-block;height: 111.5px;margin-left: 110px;}

.avatar_text_box > h5{font-size: 12px;}
.avatar_text_box>.black_company{margin-top: 21px;margin-bottom: 8px;}
.avatar_text_box>.gray_date{position:absolute;margin-top: 21px;margin-bottom: 8px;right: 2px;bottom: 15px;clear: both;}
.bottom_box{position: fixed;bottom: 0px;width: 100%;height:117px;background-color: rgba(243,246,249,0.9)}
.btn_pos{margin-top: 60px;}
.complaint_no .gray{font-size: 14px;height: 100%;line-height: 114px;text-align: center;}