
.fillIn_box{margin-top: 50px;}
.item_box{position: relative;width: 100%;height: 62px;}
.fillIn_title{position:relative;width: 88%;height: 20px;margin:0 auto;margin-top: 20px;}
.fillIn_title>span{font-size: 12px;}
.ID_input_box{height: 24px;width: 88%;}
.ID_input_box input{left: 0;top: 0px;height: 24px;line-height: 24px;}
.ID_input_box input{width: 100%;}
.btn_ok{margin-top: 60px;}
.upload-box{width: 88%;margin: 0 auto;}
.upload{width: 100%;margin-top:30px;position: relative}
.upload > li{width: 70px;height: 70px;margin-right:20px;float:left;border: 1px solid #dbdbdb;text-align: center;}
.upload > li .img_box{width: 100%;height: 100%;display: none;position: relative;top:14px;}
.upload > li .img_box img{width: 100%;height: 100%;}
.upload > li .img_box>.close{width: 20px;height: 20px;line-height:20px;text-align:center;color:#fff;font-size: 18px;background: rgba(189,189,189,0.8);position: absolute;top:0;right: 0;}
.upload > li  .eg_box > i{font-size: 26px;color: #00aeff;display: block;margin: 26px 0 4px 0}
.upload > li  .eg_box >h5{font-size: 10px;color: #a7a7a7;}
#upload1,#upload2,#upload3{width: 100%;height: 100%;margin-top: -14px;}
/*.upload > li:last-child{font-size: 12px;color: #fff;width:90px;height:26px;line-height: 26px;background-color:#00aeff;border-radius: 4px;border: 0px;margin-top:17px;float: right;margin-right: 0px; }*/
/*.upload > li:last-child:active{background-color:#4cb9eb; }*/
/*.hidden_upload{position: absolute;bottom:18px;right: 0;width: 90px;opacity: 0;}*/
.hidden_upload{opacity: 0;width: 100%;height: 100%;}
.error-box{width: 88%;display: none}
.pop_authentication_success,.pop_authentication_fail{width: 80%;height: 400px;}
.pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 340px;text-align: center}
.pop-cont>img{width: 152px;height: 119.5px;margin: 56px 0 50px 0;}
.pop-cont>h4{font-size: 14px;color:#615f5f;}
.pop-cont>.fail{color:#fb595d;}
.pop-cont>h5{margin-top:20px;font-size: 14px;color:#b3b3b3;}
.pop_btn{margin-top:18px; }
.file-box{width: 100%;height: 100%;margin-top: -42px;}
.img_pop{background-color: transparent;border: 0;box-shadow: 0 0 0px rgba(0,0,0,0.5);}
.pop-cont>.img_big{width: 100%;height: auto;max-height: 100%;}

/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
    /*.upload > li{margin-right:6px;}*/
    /*.upload > li:last-child{width:76px;height:26px;line-height: 26px;}*/

    .pop_authentication_success,.pop_authentication_fail{width: 80%;height: 340px;}
    .pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 280px;text-align: center}
    .pop-cont>img{width: 152px;height: 119.5px;margin: 36px 0 30px 0;}
    .pop-cont>.fail{color:#fb595d;}
    .pop-cont>h5{margin-top:15px;font-size: 14px;color:#b3b3b3;}

    .btn_ok{margin-top: 20px;margin-bottom: 60px;}
    .hidden_upload{width: 80px;}
}
/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .upload > li{margin-right: 30px;}
    .upload-box{margin-top:10px;}
}
