<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>债务管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/debtManagement/debtManagement_no.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<!--<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>-->
	<a href="javascript:" onclick="self.location=document.referrer;"><i class="icon-return_01 back"></i></a>
		<div class="debt_no">
			<!--<img src="debt_no.png" >-->
			<img th:src="@{/webPage/debtManagement/debt_no.png}"/>
		</div>
		<div class="text_box">
			<h5>抱歉，您的债务信息尚未收录到平台</h5>
			<h5>如需人工帮助请返回后<span>留言</span></h5>
		</div>
	<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/webPage/debtManagement/debtManagement_no.js}"></script>
		<!--<script type="text/javascript" src="../../common/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="../../common/js/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="../../common/js/public.js"></script>
		<script type="text/javascript" src="debtManagement_no.js"></script>-->
	</body>
</html>
