<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>债务管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/debtManagement/debtManagement_yes.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
        <script type="text/javascript" th:src="@{/webPage/debtManagement/move.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
		<div class="logo_box">
			<!--<img src="logo.png">-->
			<img th:src="@{/webPage/debtManagement/logo.png}"/>
		</div>
	<ul id="znsRotatePic" class="znsRotatePic"></ul>
	<!--<a href="javascript:;" target="_self" class="hide_link" id="hide_link" style="background: rgba(0,0,0,0.6)"></a>-->
	<ul class="debt_footer">
		<li><img class="extension_service" id="complaint_conter" th:src="@{/webPage/debtManagement/tszx.png}"/><h6>投诉中心</h6></li>
		<li><img class="overview_debt" id="debt_overview" th:src="@{/webPage/debtManagement/zwzl.png}"/><h6>债务总览</h6></li>
		<!--<li><img class="certificate_authorization" th:src="@{/webPage/debtManagement/sqs.png}"/><h6>授权书</h6></li>-->
	</ul>
		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/debtManagement/debtManagement_yes.js}"></script>
	</body>
</html>
