<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>债务总览</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/debtManagement/debtOverView.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	</head>
	<body>
	<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
	<div id="overView_wrapper"></div>

	<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/webPage/debtManagement/debtOverView.js}"></script>
	</body>
</html>
