<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>身份验证</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/complaintCenter/complaintCenterAuthentication.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
		<h6 class="title_num black">验证手机号码</h6>
		<h5 class="tip gray">为了保证账号安全，请绑定本人手机号码</h5>
		<div class="name_input_box"><input type="text" placeholder="请输入手机号码" id="phone"/><span class="getCode" id="get_sms_code">获取验证码</span></div>
		<div class="ID_input_box"><input type="text" placeholder="请输入短信验证码" id="sms_code"/></div>
		<div class="error-box hide"><span>验证码错误，请重新输入</span></div>
		<div class="btn btn_blue btn_ok" id="check_sms_code">确定</div>

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/complaintCenter/complaintCenterAuthentication.js}"></script>
	</body>
</html>
