<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>投诉详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/complaintCenter/complaintDetails.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<a href="javascript:;" id="back"><i class="icon-return_01 back"></i></a>
	<!--进度条-->
	<div class="progress_box">
		<div class="progress_line"></div>
		<ul class="progress_ul">
			<li><i class="active" id="progress1"></i><span class="active" id="progressTest1">已提交</span></li>
			<li><i class="active" id="progress2"></i><span class="active" id="progressTest2">已跟进</span></li>
			<li><i class="active" id="progress3"></i><span class="active" id="progressTest3">已回复</span></li>
			<li><i id="progress4"></i><span id="progressTest4">已解决</span></li>
		</ul>
	</div>
	<!--已提交-->
	<div class="submit_box" id="submit_box">
		<div class="submit_title black" id="submit_title">已提交</div>
		<h5 class="first"><span class="gray">投诉标题：</span><span class="black" id="complain_title"></span></h5>
		<div class="details_box" style="padding-bottom: 0">
			<div class="details_things" style="margin-bottom: 0"><span class="gray">投诉对象：</span><p class="black complain_obj" id="complain_obj" ></p></div>
		</div>
		<h5><span class="gray">涉及金额：</span><span class="red"><span class="font12" >￥</span><span id="complain_money"></span></span></h5>
		<div class="details_box">
			<div class="details_things">
				<span class="gray title">事件详情：</span>
				<p class="black content" id="complain_details"></p>
			</div>

			<div class="img_box" id="img_box">
				<!--<img th:src="@{/webPage/complaintCenter/moren.png}" alt="" id="img_view0"/>
				<img th:src="@{/webPage/complaintCenter/moren.png}" alt="" id="img_view1"/>
				<img th:src="@{/webPage/complaintCenter/moren.png}" alt="" id="img_view2"/>-->
			</div>
			<span class="date gray" id="data_sub">2017.1.7</span>
		</div>
	</div>
	<!--已跟进-->
	<div class="submit_box" id="follow_box">
		<div class="submit_title black" >已跟进</div>
		<p class="already_p black">投诉信息已通过资产360客户服务中心转达至<span id="platform">玖富</span>请保持电话畅通。</p>
		<div class="details_box">
			<span class="date gray" id="follow_time">2017.1.7</span>
		</div>
	</div>
	<!--已回复-->
	<div class="submit_box" id="reply_box">
		<div class="submit_title black">已回复</div>
			<div class="details_box dialog_box" >
				<div id="response-box"></div>
				<div class="name_input_box" id="name_input_box"><input type="text" placeholder="请输入回复" id="inp_re" maxlength="300"/><span class="getCode" id="send_out">发送</span></div>
				<span class="date gray" id="replay_time">2017.1.7</span>
			</div>
	</div>
	<!--已解决-->
	<div class="submit_box solve_box hide" id="solve_box">
		<div class="submit_title black">已解决</div>
		<p class="already_p black" id="already_p">投诉问题已经解决。</p>
		<div class="details_box">
			<span class="date gray" id="solve_time">2017.1.7</span>
		</div>
	</div>
	<div class="btn_box" id="btn_box">
		<div class="btn btn_blue btn_small btn_small_left" id="btn_stop">停止投诉</div>
		<div class="btn btn_blue btn_small btn_small_right" id="btn_solve">已解决</div>
	</div>

	<div class="pop-div hide"></div>
	<!--停止投诉弹框-->
	<div class="pop pop_authentication_success hide stop_pop">
		<div class="pop-title">
			<i class="icon-sign_out_04 close"></i>
		</div>
		<div class="pop-cont pop-cont-success">
			<!--<img src="stop_complain.png">-->
			<img th:src="@{/webPage/complaintCenter/stop_complain.png}" />
			<h4>是否停止投诉</h4>
			<div class="btn_box_small">
				<div class="btn btn_blue btn_small btn_small_left" id="yes_stop_btn" tag="4">是</div>
				<div class="btn btn_blue btn_small btn_small_right" id="no_stop_btn">否</div>
			</div>
                </div>
            </div>
	<!--已解决弹框-->
	<div class="pop pop_authentication_success hide solve_pop">
		<div class="pop-title">
			<i class="icon-sign_out_04 close"></i>
		</div>
		<div class="pop-cont pop-cont-success">
			<!--<img src="stop_complain.png">-->
			<img th:src="@{/webPage/complaintCenter/stop_complain.png}" />
			<h4>是否已解决</h4>
			<div class="btn_box_small">
				<div class="btn btn_blue btn_small btn_small_left" id="btn_solve_yes" tag="3">是</div>
				<div class="btn btn_blue btn_small btn_small_right" id="btn_solve_no">否</div>
			</div>
		</div>
	</div>
	<!--图片预览弹框-->
	<div class="pop pop_authentication_success hide img_pop">
		<div class="pop-title">
			<i class="icon-sign_out_04 close close_img"></i>
		</div>
		<div class="pop-cont pop-cont-success" id="img_big">
			<img class="img_big" th:src="@{/webPage/complaintCenter/avatar.png}" />
		</div>
	</div>
	<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/webPage/complaintCenter/complaintDetails.js}"></script>
	</body>
</html>
