<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>投诉中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/complaintCenter/complaintCenter.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<a href="javascript:;" id="back"><i class="icon-return_01 back"></i></a>

		<div class="complaint_box">
			<h5>我的投诉</h5>
			<div class="complaint_no hide">
				<div class="item_box">
					<h5 class="gray">暂无投诉信息</h5>
				</div>
			</div>
			<div class="complaint_wrapper" id="complaint_wrapper">
				<!--<div class="item_box">
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="red">正在处理</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>
				<div class="item_box">
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="blue">已解决</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>
				<div class="item_box">
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="orange">已停止投诉</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>
				<div class="item_box">
					&lt;!&ndash;<div class="avatar"><img src="avatar.png"></div>&ndash;&gt;
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="orange">已停止投诉</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>
				<div class="item_box">
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="orange">已停止投诉</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>
				<div class="item_box">
					<div class="avatar"><img th:src="@{/webPage/complaintCenter/avatar.png}" /></div>
					<div class="avatar_text_box">
						<h5 class="black black_company">玖富叮当利息高的太离谱</h5>
						<h5 class="orange">已停止投诉</h5>
						<h5 class="gray gray_date">2017.1.7</h5>
					</div>
				</div>-->
			</div>
		</div>
		<div class="bottom_box">
			<div class="btn btn_blue btn_pos">我要投诉</div>
		</div>
		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/complaintCenter/complaintCenter.js}"></script>
	</body>
</html>
