<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>填写投诉详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/complaintCenter/fillInComplaintDetails.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>

	</head>
	<body>
	<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
	<div class="fillIn_box">
		<!--投诉标题-->

			<div class="fillIn_title gray"><span>投诉标题</span></div>
			<div class="ID_input_box"><input type="text" placeholder="" id="fillIn_title" maxlength="20"/></div>
			<div class="error-box " id="fillIn_title_error"><span>请填写投诉标题</span></div>



		<!--投诉对象-->
		<div class="fillIn_title gray"><span>投诉对象</span></div>
		<div class="ID_input_box">
			 <select class="drop_down_select Winstar-input120" id="drpPublisher2" name = "drpPublisher2">
				<!--<option value =""></option>
				<option  value ="saab">saab</option>
				<option  value="opel">Opel</option>
				<option  value="audi">Audi</option>-->
			</select>
			<i class="icon-drop_down_02 drop_down"></i>
			<i class="icon-stop_03 drop_down" style="display: none"></i>
		</div>
		<div class="error-box " id="fillIn_obj_error"><span>请选择投诉对象</span></div>

		<!--涉及金额-->
		<div class="fillIn_title gray"><span>涉及金额</span></div>
		<div class="ID_input_box"><input type="text" placeholder="" id="fillIn_money" maxlength="9" class="isNanFloat"/></div>
		<div class="error-box " id="fillIn_money_error"><span>请填写涉及金额</span></div>

		<!--事件详情及要求（不少于20字）-->
		<div class="fillIn_title gray"><span>事件详情及要求（不少于20字）</span></div>
		<div class="ID_input_box"><input type="text" placeholder="" id="fillIn_cont" minlength="20" maxlength="200"/></div>
		<div class="error-box "id="fillIn_cont_error"><span>字数不得少于20</span></div>


		<!--上传证据照片-->
		<div class="upload-box">
			<ul class="upload clearfix" id="upload">
				<!--<input type="file"  id="hidden_upload" class="hidden_upload" onchange="showPreview(this)"/>-->
				<li> <form id="upload1" action="../file/uploadPic" method="post"><span class="eg_box" id="eg_box1"><i class="icon-camera_05" id="camera1"></i><h5 id="text1">上传照片</h5><input type="file"  id="hidden_upload1" class="hidden_upload"  name="file"/></span><span class="img_box" id="imgBox1"><span id="imgBox1_inner"><img src="" id="img1"></span><span class="close">X</span></span></form></li>
				<li> <form id="upload2" action="../file/uploadPic" method="post"><span class="eg_box" id="eg_box2"><i class="icon-camera_05" id="camera2"></i><h5 id="text2">上传照片</h5><input type="file"  id="hidden_upload2" class="hidden_upload"  name="file"/></span><span class="img_box" id="imgBox2"><span id="imgBox2_inner"><img src="" id="img2"></span><span class="close">X</span></span></form></li>
				<li> <form id="upload3" action="../file/uploadPic" method="post"><span class="eg_box" id="eg_box3"><i class="icon-camera_05" id="camera3"></i><h5 id="text3">上传照片</h5><input type="file"  id="hidden_upload3" class="hidden_upload"  name="file"/></span><span class="img_box" id="imgBox3"><span id="imgBox3_inner"><img src="" id="img3"></span><span class="close">X</span></span></form></li>
				<!--<li id="upload_btn"><span>上传证据照片</span></li>-->
			</ul>

		</div>

		<!--提交成功弹框-->
		<div class="pop-div hide"></div>
		<div class="pop pop_authentication_success hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-success">
				<!--<img src="success.png">-->
				<img th:src="@{/webPage/complaintCenter/success.png}" />
				<h4>提交成功</h4>
				<div class="btn btn_blue pop_btn" id="re_btn_ok">确定</div>
			</div>
		</div>


	</div>
	<!--图片预览弹框-->
	<div class="pop pop_authentication_success hide img_pop">
		<div class="pop-title">
			<i class="icon-sign_out_04 close"></i>
		</div>
		<div class="pop-cont pop-cont-success" id="img_big">
			<img class="img_big" th:src="@{/webPage/complaintCenter/stop_complain.png}" />
		</div>
	</div>
		<div class="btn btn_blue btn_ok" id="add_btn">确定</div>

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/jquery.form.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/complaintCenter/fillInComplaintDetails.js}"></script>
	</body>
</html>
