<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8" />
		<title>登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<!--<link href="../../common/css/jquery.mobile-1.4.5.min.css" rel="stylesheet" type="text/css">-->
<!--		<link rel="stylesheet" href="../../common/css/weui.min.css">
		<link rel="stylesheet" href="../../common/css/jquery-weui.min.css">
		<link href="../../common/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../../common/css/style.css" rel="stylesheet" type="text/css">
		<link href="../../common/css/public.css" rel="stylesheet" type="text/css">
		<link href="login.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="../../common/images/logo.png">-->

		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/authentication/login.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
		<div class="logo_box"><img th:src="@{/webPage/authentication/logo.png}" /> ></div>
		<div class="name_input_box"><i class="icon-ID_number_02"></i><input type="text" placeholder="姓名" /></div>
		<div class="ID_input_box"><i class="icon-ID_number_01"></i><input type="text" placeholder="身份证号" /></div>
		<div class="btn btn_blue">进入服务中心</div>

		<!--您尚未进行身份认证弹框-->
	   <div class="pop-div hide"></div>
		<div class="pop pop_authentication_success hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-success">
				<img th:src="@{/webPage/authentication/repeat.png}" />
				<h5>您尚未进行身份认证</h5>
				<div class="btn btn_blue go_btn" id="go_btn">去认证</div>
			</div>
		</div>

		<!--信息填写错误弹框-->
		<div class="pop pop_authentication_fail hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-fail">
				<img th:src="@{/webPage/authentication/fail.png}"/>

				<h5 class="font16">信息填写错误</h5>
			</div>
		</div>
		<!--信息填写错误弹框-->
		<div class="pop pop_authentication_fail hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-success">
				<img th:src="@{/webPage/authentication/success.png}" />
				<h5 class="font16 blue">提交成功</h5>
				<h5 class="font14">恭喜你，认证信息成功</h5>
			</div>
		</div>
<!--		<script type="text/javascript" src="../../common/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="../../common/js/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="../../common/js/public.js"></script>
		<script type="text/javascript" src="login.js"></script>-->

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/authentication/login.js}"></script>
	</body>
</html>
