<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"  />
		<title>身份认证</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/authentication/authentication.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<!--<span address="/WebPage/ccc/SaaScaseDetails.html?id=1007" class="details">ceshoi</span>-->
		<!--<div class="logo_box"><img src="webPage/authentication/logo.png"/></div>-->
		<div class="logo_box"><img th:src="@{/webPage/authentication/logo.png}"/></div>

		<div class="ID_input_box"><i class="icon-ID_number_01"></i><input type="text" placeholder="身份证号" id="idcardNo" /></div>
		<div class="name_input_box"><i class="icon-ID_number_02"></i><input type="text" placeholder="请填写姓名" id="name"	/></div>
	<div class="name_input_box"><i class="icon-code"></i><input type="text" placeholder="请填写验证码" id="code"class="code_input"/><i class="code" id="code_box"><img src="../file/captcha" id="companyCaptcha" onclick="javascript: this.src = '../file/captcha?temp=' + Math.random();"></i></div>

	<!--<div class="btn btn_blue hide" id="ok_btn">确认</div>	-->
		<div class="btn btn_blue " id="re_ok_btn">重新认证</div>

		<!--认证成功弹框-->
	   <div class="pop-div hide"></div>
		<div class="pop pop_authentication_success hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-success">
				<img th:src="@{/webPage/authentication/success.png}" />
				<h4>提交成功</h4>
				<h5>恭喜你，认证信息成功</h5>
			</div>
		</div>
		<!--认证失败弹框-->
		<div class="pop pop_authentication_fail hide">
			<div class="pop-title">
				<i class="icon-sign_out_04 close"></i>
			</div>
			<div class="pop-cont pop-cont-fail">
				<img th:src="@{/webPage/authentication/fail.png}" />
				<h4 class="fail">提交失败</h4>
				<h5>请您正确填写相关信息</h5>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/authentication/authentication.js}"></script>
	</body>
</html>
