/*默认的为苹果6*/
.logo_box{width: 100%;height: 101px;margin: 27px 0 ;text-align: center}
.logo_box img{width: 101px;height: 101px;}
/*左右滑动*/
.znsRotatePic { position:fixed;z-index:2;width: 100%; height: 380px;}/*margin-left: -275px width: 840px; ;*/
.znsRotatePic li { width: 240px; height: 341px; position: absolute; text-align: center;background: #fff;border-radius: 4px;box-shadow: 0 0 5px #ccc;}
.znsRotatePic #pic1 { top: 20px; left: -187px; z-index:1; }
.znsRotatePic #pic2 {  top: 0px; left: 68px; z-index:2; }
.znsRotatePic .pic3 { top: 20px; right: -188px; z-index:1; }
.znsRotatePic #pic4 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic5 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic6 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic7 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic8 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic9 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic10 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic11 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic12 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic13 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic14 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic15 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic16 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic17 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic18 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic19 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic #pic20 { top: 20px; right: -270px; z-index:1; }
.znsRotatePic .unactive {filter: alpha(opacity=20); opacity: 0.2;}

.debt_title{height:43px;line-height:43px;font-size: 16px;color:#5d5d5d}
.un_circle{width: 102px;height: 102px;line-height:102px;margin:0 auto;border-radius: 50%; color: #ff8400;font-size: 18px;position: relative;}
.account-title{text-align:left;color: #a7a7a7;font-size: 14px;margin: 15px 0 5px 15px;}
.account{text-align:left;color: #ff7171;font-size: 18px;margin-left: 15px;}
.account>span{font-size: 14px;}
.company-title{text-align:left;color: #a7a7a7;font-size: 14px;margin: 15px 0 5px 15px;}
.company{text-align:left;color: #615f5f;font-size: 12px;margin-left: 15px;}
.btn_detail{margin-top: 32px;position: relative;z-index: 9999}
.already_circle{width: 102px;height: 102px;line-height:102px;margin:0 auto;border-radius: 50%; color: #6da7ff;font-size: 18px;position: relative;}
.debt_footer{position:fixed;left:0;bottom:0;width: 100%;height: 50px;line-height: 50px;background-color: #fff;display: flex;box-shadow:0 0 6px #ccc}
.debt_footer>li{flex: 1;text-align:center;font-size: 10px;}
.extension_service{display: inline-block;width:22px;height:22px;}
.extension_service + h6,.overview_debt+h6,.certificate_authorization+h6{text-align:center;height:20px;line-height:20px;margin:-22px 0 0 0 ;font-size: 10px;color: #615f5f;}
.overview_debt{display: inline-block;width:19.5px;height:22.5px;}
.certificate_authorization{display: inline-block;width:19.5px;height:22.5px;}
.hide_link{position:absolute;z-index:3;display: block;width: 48%;height: 46px;background-color: rgba(14,159,32,0);}
/*旋转的圆--未还清start*/
.circleProgress_wrapper{width: 102px;  height: 102px;margin: 0px auto;position: relative;border:0 solid #ddd;}
.wrapper{ width: 102px;height: 102px;  position: absolute;top:0;overflow: hidden;  }
.right{left:0px;}
.circleProgress{width: 86px;height:86px;border:6px solid #72d3ff;border-radius: 50%;position: absolute; top:0;-webkit-transform: rotate(45deg);}
.rightcircle{border-top:6px solid #e3f1ff;border:6px solid #e3f1ff;left:0px;-webkit-animation: circleProgressLoad_right 3s ease-out 0s alternate forwards;}
.rightcircle:after{content: '';width: 8px;height: 8px;background: #0e9cff;position: absolute;top:70px;left: 5px;border-radius: 50%;z-index: 10;-webkit-animation: circleProgressLoad_right_after 3s ease-out 0s alternate forwards;}
.leftcircle{position:relative;border-top:6px solid #e3f1ff;border:6px solid #e3f1ff;left:0px;-webkit-animation: circleProgressLoad_left 3s ease-out 0s alternate forwards;}
@-webkit-keyframes circleProgressLoad_right_after{
    0%{
        background:#e3f1ff;
        box-shadow: 0 0 5px #e3f1ff;
        opacity: 0;
    }
    50%{
        background:#8ebceb;
        box-shadow: 0 0 5px #8ebceb;
        opacity: 0.5;
    }
    100%{
        background:#0e9cff;
        box-shadow: 0 0 5px #0e9cff;
    }
}
@-webkit-keyframes circleProgressLoad_right{
    0%{
        border-left: 6px solid #e3f1ff;
        border-top:6px solid #e3f1ff;
        -webkit-transform: rotate(45deg);
    }
    50%{
        border-top:6px solid #8ebceb;
        border-right:6px solid #8ebceb;
        border-left:6px solid #8ebceb;
        border-bottom:6px solid #8ebceb;
        -webkit-transform: rotate(45deg);
    }
    100%{
        border-top:6px solid #72d3ff;
        border-right:6px solid #72d3ff;
        /*border-left:6px solid #358bff;*/
        border-bottom:6px solid #72d3ff;
        -webkit-transform: rotate(225deg);
    }
}
@-webkit-keyframes circleProgressLoad_left{
    0%{
        border-left: 6px solid #e3f1ff;
        border-top:6px solid #e3f1ff;
        -webkit-transform: rotate(45deg);
    }
   25%{
        border-top:6px solid #8ebceb;
        border-right:6px solid #8ebceb;
        border-left:6px solid #8ebceb;
        border-bottom:6px solid #8ebceb;
        -webkit-transform: rotate(45deg);
    }
    50%{
        border-top:6px solid #6acdf9;
        border-right:6px solid #6acdf9;
        border-left:6px solid #6acdf9;
        border-bottom:6px solid #6acdf9;
        -webkit-transform: rotate(45deg);
    }
    75%{
        border-top:6px solid #54c7fb;
        border-right:6px solid #54c7fb;
        border-left:6px solid #54c7fb;
        border-bottom:6px solid #54c7fb;
        -webkit-transform: rotate(45deg);
    }
    100%{
        border-top:6px solid #54c7fb;
        border-right:6px solid #5ec8f8;
        border-left:6px solid #6acdf9;
        border-bottom:6px solid #78d0f8;
        -webkit-transform: rotate(225deg);
    }
}
/*旋转的圆--未还清end*/
/*苹果5s*/
@media (min-width:319px) and (max-width: 360px) {
    .logo_box{width: 100%;height: 101px;margin: 16px 0 ;text-align: center}
    .logo_box img{width: 101px;height: 101px;}
    .znsRotatePic { position:fixed;z-index:2;width: 100%; height: 320px;}
    .znsRotatePic li { width: 220px; height: 290px; position: absolute; text-align: center;background: #fff;border-radius: 4px;box-shadow: 0 0 5px #ccc;}
    .znsRotatePic #pic1 { top: 20px; left: -187px; z-index:1; }
    .znsRotatePic #pic2 {  top: 0px; left: 50px; z-index:2; }
    .znsRotatePic .pic3 { top: 20px; right: -188px; z-index:1; }


    .account-title{margin: 6px 0 5px 15px;}
    .company-title{margin: 6px 0 5px 15px;}
    .btn_detail{margin-top: 15px;}
    .debt_title{height:35px;line-height:35px;}


}
/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .logo_box{width: 100%;height: 101px;margin: 30px 0 ;text-align: center}
    .logo_box img{width: 101px;height: 101px;}

    .znsRotatePic #pic1 { top: 20px; left: -187px; z-index:1; }
    .znsRotatePic #pic2 {  top: 0px; left: 50px; z-index:2; }
    .znsRotatePic .pic3 { top: 20px; right: -188px; z-index:1; }
}







