.overView_box{width: 94%;margin: 0 auto;background-color: #fff;box-shadow: 0 0 3px #ccc;border-radius: 4px;margin-top: 30px;}
.overView_box:last-child{margin-bottom: 40px;}
.overView_box >.title{width: 96%;height:40px;line-height:40px;text-align: center;position: relative;font-size: 14px;}
.overView_box >.title .icon-drop_down_02{position:absolute;right:0;top:10px;font-size: 22px;color: #bdbdbd;}
.overView_box >.title .icon-stop_03{position:absolute;right:0;top:10px;font-size: 22px;color: #bdbdbd;}
.content_box{width: 96%;background-color: #fff;border-top: 1px solid #eaedf1;margin: 0 auto;}
.content_box .title_ul,.content_box .value_ul{font-size:12px;display: flex; height: 46px;line-height: 46px;width: 100%}
.content_box .title_ul>li,.content_box .value_ul>li{flex:1;text-align: center;justify-content:flex-start}
.debt_all{width:96%;text-align:right;font-size: 12px;padding: 15px 0;}
.font18{font-size: 18px;}
.mult-text{display: inline-block;line-height: 15px;}
