.debt_no{width: 100%;height: 151px;margin: 118px 0 59px 0;text-align: center}
.debt_no>img{width: 177px;height: 151px;}
.text_box >h5{text-align: center;margin-bottom: 19px;color:#b3b3b3;font-size: 14px;}
.text_box >h5>span{color:#ff7171;}