<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8" />
		<title>首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/authentication/searching.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
		<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
		<div class="debt_no">
			<img th:src="@{/webPage/complaintCenter/avatar.png}" />
		</div>
		<div class="text_box">
			<h5 style="font-size: 50px;">欢迎你，这是首页</h5>
		</div>

		<div>
			<a href="javascript:void(0)"
			   class="button"
			   data-status = "0"
			   style="width: 100px;"
			   onclick="userModular()">
				用户管理
			</a>
		</div>

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/authentication/searching.js}"></script>

		<script type="text/javascript">
            function userModular(){
                window.location.href="../html/userModular";
            }
		</script>

	</body>
</html>
