<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8" />
		<title>登录页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/authentication/searching.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
		<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
		<div class="debt_no">
			<img th:src="@{/webPage/complaintCenter/avatar.png}" />
		</div>
		<div class="text_box">
			<h5 style="font-size: 50px;">这是登录页面</h5>
		</div>

		<div class="text_box">
			<form  method="post" id="myform" name="myform" >

				<table>

				用户名：<input  id="userName" name="userName" type="text" size="40px" maxlength="6"	placeholder="请输入用户"/>

				密码:<input	type="password" id="passWord" name="passWord"/>

				提交：

					<a href="javascript:void(0)"
					   class="button"
					   data-status = "0"
					   style="width: 100px;"
					   onclick="submitForm()">
						提交
					</a>
				<br>
				<input	type="reset"/>
				</table>
			</form>
		</div>

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/authentication/searching.js}"></script>

<script type="text/javascript">

    function submitForm(){

        var userName = $("#userName").val() ;
        var passWord = $("#passWord").val() ;

        if(userName=="" || passWord=="" ){
            alert("用户名/密码不能为空");
            return;
        }

        $.ajax({
            type: "get",
            dataType: "json",
            url: '../user/login',
            data: {
                userName: userName,
                passWord:passWord
            },
            success: function (data) {
                console.log(data);
                if (data.success ) {
                    alert("登录成功") ;
                    window.location.href="../html/index";
                }
            }
        });
    }
</script>
</body>
</html>