<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8" />
		<title>用户管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/authentication/searching.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<style>
			.pop-form {
				left: 30px;
				top: 10px;
			}
		</style>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
		<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
		<div class="debt_no">
			<img th:src="@{/webPage/complaintCenter/avatar.png}" />
		</div>
		<div class="text_box">
			<h5 style="font-size: 50px;">这是用户管理模块</h5>
		</div>
		<div >
			<a href="javascript:void(0)"
			   class="button"
			   data-status = "0"
			   style="width: 100px;"
			   onclick="getUserList()">
				获取用户信息
			</a>
		</div>
		<div>
			<a href="javascript:void(0)"
			   class="button"
			   data-status = "0"
			   style="width: 100px;"
			   onclick="addUser()">
				添加用户
			</a>
		</div>
		<div id="addUserDiv" class="margin-top: 15px;margin-left: 35px;" hidden="true">
			用户名：<br><input type="text" id="userName" name="userName"  size="40px" maxlength="6" />
			密码：<br><input type="password" id="passWord" name="passWord"/>
			提交：
			<a class="button"  style="width: 100px;" onclick="insertUser()">添加</a>
		</div>
		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/authentication/searching.js}"></script>

		<script type="text/javascript">
            function getUserList(){
                window.location.href="../user/getUserList";
            };

            function addUser(){
                $("#addUserDiv").show();
            }
            function insertUser(){
                var userName = $("#userName").val() ;
                var passWord = $("#passWord").val() ;
				if(userName=="" || passWord=="" ){
				    alert("用户名/密码不能为空");
				    return;
				}
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: '../user/addUser',
                    data: {
                        userName: userName,
                        passWord:passWord
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.success ) {
                            alert("添加成功") ;
                            $("#addUserDiv").hide();
                        }
                    }
                });
            }
		</script>
	</body>
</html>
