/*默认的为苹果6*/
.logo_box{width: 100%;height: 101px;margin: 78px 0 ;text-align: center}
.logo_box img{width: 101px;height: 101px;}
.btn{margin-top: 61px;}
.pop_authentication_success,.pop_authentication_fail{width: 80%;height: 400px;}
.pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 340px;text-align: center}
.pop-cont>img{width: 152px;height: 119.5px;margin: 56px 0 50px 0;}
.pop-cont>h4{font-size: 16px;color:#8cb3ff;}
.pop-cont>.fail{color:#fb595d;}
.pop-cont>h5{font-size: 14px;color:#b3b3b3;}
.pop-cont>.font16{font-size: 16px;}
.pop-cont>.font14{font-size: 14px;}
.pop-cont .blue{color:#8cb3ff;margin-bottom: 6px;}
.go_btn{margin-top:20px;}
/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
    .logo_box{width: 100%;height: 101px;margin: 50px 0 ;text-align: center}
    .logo_box img{width: 101px;height: 101px;}
    .pop_authentication_success,.pop_authentication_fail{width: 80%;height: 340px;}
    .pop-cont-success,.pop-cont-fail{position:relative;width: 100%;height: 280px;text-align: center}
    .pop-cont>img{width: 152px;height: 119.5px;margin: 36px 0 30px 0;}
    .pop-cont>h4{font-size: 16px;color:#8cb3ff;}
    .pop-cont>.fail{color:#fb595d;}
    .pop-cont>h5{font-size: 14px;color:#b3b3b3;}
    .go_btn{margin-top:15px;}
}
/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .logo_box{width: 100%;height: 101px;margin: 90px 0 ;text-align: center}
    .logo_box img{width: 101px;height: 101px;}
}
