.letter_box{position:relative;width: 100%;margin: 0 auto;margin-top: 4px;}
.letter_box > img{width:100%;}
.letter_box > .proof-text-box{position: absolute;top:0;left:0;z-index: 2;padding-top:45%;width:100%; }
.proof_name{height:56px;line-height:56px;font-size: 12px;color: #545455;margin: 0 auto;width: 80%;}
.proof_cont{font-size: 10px;color: #545455;line-height: 22px;width: 72%;margin: 0 auto;}
.tczm{font-size: 12px;color: #545455;width: 57%;text-align: right;margin: 0 auto;margin-top: 20px;}
.company_box{width: 58%;margin: 0 auto;font-size: 12px;color: #545455;float: right;margin-top: 8%;}
.company_box>h5{text-align: center}
.company_box>h5:first-child{margin-bottom: 5px;}
/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
    .proof_name{height:35px;line-height:35px;}
    .letter_box > .proof-text-box{padding-top:47%; }
    .proof_cont{line-height: 19px;}
    .tczm{margin-top: 0;}

}
/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .tczm{width: 55%;margin-top: 50px;}
}
/*苹果8x*/
@media (min-width:360px) and (max-width: 375px) {
     .tczm{width: 55%;margin-top: 20px;}
}