.debt_footer{position:fixed;left:0;bottom:0;width: 100%;height: 50px;line-height: 50px;background-color: #fff;display: flex;box-shadow:0 0 6px #ccc }
.debt_footer>li{flex: 1;text-align:center;font-size: 10px;}
.extension_service{display: inline-block;width:18.5px;height:22px;}
.extension_service + h6,.overview_debt+h6,.certificate_authorization+h6{text-align:center;height:20px;line-height:20px;margin:-22px 0 0 0 ;font-size: 10px;color: #615f5f;}
.overview_debt{display: inline-block;width:19.5px;height:22.5px;}
.certificate_authorization{display: inline-block;width:18.5px;height:22.5px;}

.product_name{width: 94%;height: 152px;margin:0 auto;box-shadow: 0 0 5px #ccc;background-color: #fff;border-radius: 4px;margin-top: 40px;padding-top: 20px;}
.product_name > h5{height:44px;line-height:44px;padding-left:10px;font-size: 14px;color: #a7a7a7;}
.product_name > h5 > .getNum{color: #615f5f;}
.product_name > h5 > .red{color: #ff7171;font-size: 18px;}
.numberPeriods_box{width: 94%;height:50px;line-height:50px;margin: 0 auto;border-bottom: 1px solid #eaedf1;margin-top: 10px;}
.numberPeriods{padding-left: 0px;font-size: 12px;padding-right: 5px;color: #a7a7a7;}
.num {padding: 0 4px;font-size: 18px;color:#ff7171;}
.font12{font-size: 12px;}
.allDebt{float: right;padding-right: 10px;}
.submit_title{position:absolute;top:-20px;width: 100px;height: 40px;line-height: 40px;margin: 0 auto;box-shadow:0 0 3px #ccc;border-radius: 4px;text-align: center;font-size: 16px;background-color: #fff;}


.details_box{width: 94%;margin: 0 auto;margin-top: 15px;background-color: #fff;border-radius: 4px;box-shadow: 0 0 5px #ccc;margin-bottom: 30px;position: relative;padding-top: 10px;}
 .details_wrapper .details_box:first-child{margin-top: 30px;}
 .details_wrapper .details_box:last-child{margin-bottom: 60px;}
.details_box_title{display: flex;width:100%;height: 46px;text-align:center;line-height: 46px;color: #615f5f;font-size: 14px;}
.details_box_title>dt{flex: 1;}
.details_box_title>dd{flex: 1;}
.details_box_title>dt>i{display:block;width: 30%;height: 2px;margin:0 auto;background-color: transparent;}
.details_box_title>dd>i{display:block;width: 30%;height: 2px;margin:0 auto;background-color: transparent;}
.details_box_title>dt>i.active{background-color: #00aeff;}
.details_box_title>dd>i.active{background-color: #00aeff;}
.details_title_bar{display: flex;width:100%;height: 46px;text-align:center;line-height: 46px;color: #a7a7a7;font-size: 14px;}
.details_title_bar >li{flex: 1;}
.details_cont_box{display: none}
.details_cont{display: flex;width:100%;height: 36px;text-align:center;line-height: 36px;color: #615f5f;font-size: 12px;}
.details_cont>li{flex: 1;}
.details_cont>li.red{color: #ff7171;}
.details_cont>li>.orange{color:#ffbd77}
.details_cont>li>.blue{color:#0da0ff}
.detail_btn{width: 70%;line-height:26px;height: 26px;font-size: 12px; }

.details_order_box{width: 100%;box-shadow: 0 -1px 6px #ccc;}
.details_order_box>div>h5{height:40px;line-height:40px;padding-left:10px;font-size: 12px;color: #a7a7a7;}
.details_order_box>div>h5>.real{float: right;padding-right: 10px;clear: both;height:40px;line-height:40px;}
.details_order_box>div>h5 .red{padding:0 5px;color: #ff7171;font-size: 16px;}
.details_order_box>div>h5 .red2{padding:0 0 0 5px;color: #ff7171;font-size: 16px;}
.details_order_box>div>h5 .black{color: #615f5f;}
.details_order_box>div>h5 .red>.yuan{font-size: 12px;}
.icon-stop_03{float:right;padding-right:10px;padding-top:10px;font-size: 24px;color:#a7a7a7; }
.details_order_box,.child_down{display: none}
/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
 .details_cont>li{font-size:10px;}
}