html,body{background-color: #f3f6f9;line-height: 1;font-weight: 200;font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif}
.clearfix{display: inline-block}
.clearfix:after{display: block;content: '.';height: 0;width: 0;line-height: 0;clear: both;visibility: hidden;}
/*身份证号输入框,姓名输入框*/
.ID_input_box,.name_input_box{position:relative;width: 74.4%;height: 60px;margin:0 auto;font-size: 0px;border-bottom: 1px solid #dbdbdb;}
.ID_input_box i,.name_input_box i{display:inline-block;position:absolute;top:32px;width:10%;vertical-align:bottom;font-size: 22px;}
.ID_input_box input,.name_input_box input{display:inline-block;position:absolute;left:30px;top:30px;width: 90%;height: 30px;line-height:30px;vertical-align:bottom;padding-left:0px;font-size: 12px;background-color: transparent;border-radius: 0;color:#666;}
/*下拉框*/
.ID_input_box select{opacity: 1;width: 100%;position: relative;z-index:3;border:0;background-color: transparent; appearance:none; -moz-appearance:none;-webkit-appearance:none;height: 24px;font-size: 12px;color: #615f5f;}
.ID_input_box .drop_down{position:absolute;right:-10px;top:3px;font-size: 20px;color: #a7a7a7;}
/*按钮*/
.btn{width: 74.4%;height: 45px;line-height: 45px;text-align: center;margin: 0 auto;border-radius:4px;}
.btn_blue{background-color: #00aeff;color:#fff;border:0px solid #ff0;}
.btn_blue:active{background-color: #4cb9eb;}
/*返回按钮*/
.back{position: fixed;left: 5px;top: 10px;font-size: 26px;color:#b3b3b3;}

/*错误提示*/
.error-box{position:relative;width: 74.4%;height: 12px;margin:0 auto;}
.error-box>span{color: #ff7171;font-size: 10px;}


/*苹果5s*/
@media (min-width:319px) and (max-width: 359px) {
    .back{left: 4px;font-size: 22px;}
}

/*苹果6Plus*/
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    .error-box{margin-top: -8px;}
}

/*苹果8x*/
@media (min-width:360px) and (max-width: 375px) {
    .error-box{margin-top: 0;}
}
/*默认状态*/
.hide{display: none}

/*弹框*/
.pop-div{position:fixed;top:0;left:0;z-index:1000;width: 100%;height: 100%;background-color:rgba(93,94,96,0.8)}
.pop{position: fixed;top:0;bottom: 0;left: 0;right: 0;z-index: 1001;margin: auto;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 8px;background-color: #fff;}
.pop-title{position: relative;width: 100%;height: 50px;box-sizing:border-box;font-size: 14px;}
.pop-title>.close{position: absolute;right: 20px;top:20px;width:30px;height:30px;font-size: 26px;color:#bdbdbd;}
.pop-cont{box-sizing: border-box;}

/*jquery.mobile  改变一些默认样式*/
.ui-input-text, .ui-input-search{border-width: 0px; }
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{text-shadow: 0 0px 0 #fff;}
.ui-loading .ui-loader ,.ui-loader{display: none;}
.weui-dialog__btn{color:#00aeff }
/*.ui-loader{display: none;}*/
/*颜色*/
.red{color: #ff7171;}
.orange{color: #ffbd77;}
.blue{color: #0da0ff;}
.gray{color: #a7a7a7;}
.black{color: #615f5f;}