@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y4xtdp');
  src:  url('../fonts/icomoon.eot?y4xtdp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y4xtdp') format('truetype'),
    url('../fonts/icomoon.woff?y4xtdp') format('woff'),
    url('../fonts/icomoon.svg?y4xtdp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e9bf";
  color: #0ca1ff;
}
.icon-camera_05:before {
  content: "\e900";
}
.icon-certificate_authorization_03 .path1:before {
  content: "\e901";
  color: rgb(255, 126, 0);
}
.icon-certificate_authorization_03 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-certificate_authorization_03 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-certificate_authorization_03 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 126, 0);
}
.icon-certificate_authorization_03 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(253, 151, 63);
}
.icon-clear_proof_06 .path1:before {
  content: "\e906";
  color: rgb(255, 126, 0);
}
.icon-clear_proof_06 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 126, 0);
}
.icon-clear_proof_06 .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 126, 0);
}
.icon-clear_proof_06 .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(253, 151, 63);
}
.icon-clear_proof_06 .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-complaint_center_01 .path1:before {
  content: "\e90b";
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-complaint_center_01 .path7:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(69, 156, 252);
}
.icon-complaint_center_01 .path8:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-complaint_center_01 .path9:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path1:before {
  content: "\e914";
  color: rgb(0, 170, 255);
}
.icon-details_-way_09 .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(11, 145, 255);
}
.icon-details_-way_09 .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(179, 237, 255);
}
.icon-details_-way_09 .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-details_-way_09 .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path11:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path12:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path13:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path14:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path15:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-details_-way_09 .path16:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path17:before {
  content: "\e924";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path18:before {
  content: "\e925";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path19:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-details_-way_09 .path20:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-details_-way_09 .path21:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-details_-way_09 .path22:before {
  content: "\e929";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path23:before {
  content: "\e92a";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path24:before {
  content: "\e92b";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path25:before {
  content: "\e92c";
  margin-left: -1em;
  color: none;
}
.icon-details_-way_09 .path26:before {
  content: "\e92d";
  margin-left: -1em;
  color: none;
}
.icon-drop_down_02:before {
  content: "\e92e";
}
.icon-extension_service_04 .path1:before {
  content: "\e92f";
  color: rgb(69, 156, 252);
}
.icon-extension_service_04 .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(16, 130, 255);
}
.icon-extension_service_04 .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-extension_service_04 .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-extension_service_04 .path5:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-extension_service_04 .path6:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-extension_service_04 .path7:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(69, 156, 252);
}
.icon-ID_number_01:before {
  content: "\e936";
  color: #0ca1ff;
}
.icon-ID_number_02:before {
  content: "\e937";
  color: #0ca1ff;
}
.icon-identity_authentication_fail_01 .path1:before {
  content: "\e938";
  color: none;
}
.icon-identity_authentication_fail_01 .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(179, 237, 255);
}
.icon-identity_authentication_fail_01 .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path6:before {
  content: "\e93d";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path8:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_fail_01 .path9:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path10:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-identity_authentication_fail_01 .path11:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-identity_authentication_fail_01 .path12:before {
  content: "\e943";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path13:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_fail_01 .path14:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path15:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-identity_authentication_fail_01 .path16:before {
  content: "\e947";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path17:before {
  content: "\e948";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path18:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path19:before {
  content: "\e94a";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path20:before {
  content: "\e94b";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path21:before {
  content: "\e94c";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path22:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path23:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path24:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path25:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path26:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path27:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_fail_01 .path28:before {
  content: "\e953";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path29:before {
  content: "\e954";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_fail_01 .path30:before {
  content: "\e955";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path1:before {
  content: "\e956";
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_success_01 .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path3:before {
  content: "\e958";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path4:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path5:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-identity_authentication_success_01 .path6:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path7:before {
  content: "\e95c";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path8:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_success_01 .path9:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-identity_authentication_success_01 .path10:before {
  content: "\e95f";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path11:before {
  content: "\e960";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path12:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path13:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_success_01 .path14:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path15:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path16:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path17:before {
  content: "\e966";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path18:before {
  content: "\e967";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path19:before {
  content: "\e968";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path20:before {
  content: "\e969";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path21:before {
  content: "\e96a";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path22:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-identity_authentication_success_01 .path23:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-identity_authentication_success_01 .path24:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-identity_authentication_success_01 .path25:before {
  content: "\e96e";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path26:before {
  content: "\e96f";
  margin-left: -1em;
  color: none;
}
.icon-identity_authentication_success_01 .path27:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overview_debt_02 .path1:before {
  content: "\e971";
  color: rgb(152, 110, 255);
}
.icon-overview_debt_02 .path2:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overview_debt_02 .path3:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overview_debt_02 .path4:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overview_debt_02 .path5:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(185, 151, 252);
}
.icon-overview_debt_02 .path6:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(152, 110, 255);
}
.icon-overview_debt_02 .path7:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(185, 151, 252);
}
.icon-remission_qualification_inquiry_05 .path1:before {
  content: "\e978";
  color: rgb(152, 110, 255);
}
.icon-remission_qualification_inquiry_05 .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(185, 151, 252);
}
.icon-remission_qualification_inquiry_05 .path3:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(152, 110, 255);
}
.icon-remission_qualification_inquiry_05 .path4:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(185, 151, 252);
}
.icon-remission_qualification_inquiry_05 .path5:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-return_01:before {
  content: "\e97d";
}
.icon-sign_in_03 .path1:before {
  content: "\e97e";
  color: rgb(179, 237, 255);
}
.icon-sign_in_03 .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path3:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-sign_in_03 .path4:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-sign_in_03 .path5:before {
  content: "\e982";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path6:before {
  content: "\e983";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path7:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-sign_in_03 .path8:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path9:before {
  content: "\e986";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path10:before {
  content: "\e987";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path11:before {
  content: "\e988";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path12:before {
  content: "\e989";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path13:before {
  content: "\e98a";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path14:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path15:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-sign_in_03 .path16:before {
  content: "\e98d";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path17:before {
  content: "\e98e";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path18:before {
  content: "\e98f";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path19:before {
  content: "\e990";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path20:before {
  content: "\e991";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path21:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-sign_in_03 .path22:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-sign_in_03 .path23:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path24:before {
  content: "\e995";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path25:before {
  content: "\e996";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path26:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path27:before {
  content: "\e998";
  margin-left: -1em;
  color: none;
}
.icon-sign_in_03 .path28:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path29:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_in_03 .path30:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sign_out_04:before {
  content: "\e99c";
}
.icon-stop_03:before {
  content: "\e99d";
}
.icon-temporary_settlement_arrears_15 .path1:before {
  content: "\e99e";
  color: rgb(0, 183, 255);
}
.icon-temporary_settlement_arrears_15 .path2:before {
  content: "\e99f";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path3:before {
  content: "\e9a0";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path4:before {
  content: "\e9a1";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path5:before {
  content: "\e9a2";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path6:before {
  content: "\e9a3";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path7:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-temporary_settlement_arrears_15 .path8:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path9:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path10:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path11:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(0, 170, 255);
}
.icon-temporary_settlement_arrears_15 .path12:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path13:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path14:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-temporary_settlement_arrears_15 .path15:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-temporary_settlement_arrears_15 .path16:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-temporary_settlement_arrears_15 .path17:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-temporary_settlement_arrears_15 .path18:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-temporary_settlement_arrears_15 .path19:before {
  content: "\e9b0";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path20:before {
  content: "\e9b1";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path21:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(6, 232, 255);
}
.icon-temporary_settlement_arrears_15 .path22:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path23:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-temporary_settlement_arrears_15 .path24:before {
  content: "\e9b5";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path25:before {
  content: "\e9b6";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path26:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-temporary_settlement_arrears_15 .path27:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(0, 183, 255);
}
.icon-temporary_settlement_arrears_15 .path28:before {
  content: "\e9b9";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path29:before {
  content: "\e9ba";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path30:before {
  content: "\e9bb";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path31:before {
  content: "\e9bc";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path32:before {
  content: "\e9bd";
  margin-left: -1em;
  color: none;
}
.icon-temporary_settlement_arrears_15 .path33:before {
  content: "\e9be";
  margin-left: -1em;
  color: none;
}
