<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
	<head>
		<meta charset="UTF-8"/>
		<title>结清证明</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<!--<link href="../../common/css/jquery.mobile-1.4.5.min.css" rel="stylesheet" type="text/css">-->
<!--		<link rel="stylesheet" href="../../common/css/weui.min.css">
		<link rel="stylesheet" href="../../common/css/jquery-weui.min.css">
		<link href="../../common/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../../common/css/style.css" rel="stylesheet" type="text/css">
		<link href="../../common/css/public.css" rel="stylesheet" type="text/css">
		<link href="clear_proof.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="../../common/images/logo.png">
		<script type="text/javascript" src="../../common/js/jquery.1.8.1.js"></script>-->

		<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
		<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webPage/debtDetails/clear_proof.css}"/>
		<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
		<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
	</head>
	<body>
	<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
		<div class="letter_box">
			<!--<img src="clear_proof.png" id="clear_proof_img">-->
			<img th:src="@{/webPage/debtDetails/clear_proof.png}" id="clear_proof_img" />
			<div class="proof-text-box" id="proof-text-box">
				<h5 class="proof_name">尊敬的先生/女士</h5>
				<div class="proof_cont">
					<p>感谢您使用本公司金融产品。</p>
					<p>兹有借款人干贝（身份证号码：410521199805067865）
				与本公司签订合同号为8217482436509384759834的借
				款合同，贷款期限XX个月，借款金额人民币壹万元整，于
				2017年3月13日放款。</p>
				<p>现借款人于2017年12月6日结清贷款。双方已经互不相欠
					无经济纠纷。在此之前所有与A有关欠货款的单据或其它文
					书已经作废。
				</p>
			</div>
				<h5 class="tczm">特此证明</h5>
				<div class="company_box">
					<h5>北京互连众信科技有限公司</h5>
					<h5>2016年10月25日</h5>
				</div>
			</div>
		</div>
<!--		<script type="text/javascript" src="../../common/js/jquery-weui.min.js"></script>
		<script type="text/javascript" src="../../common/js/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="../../common/js/public.js"></script>
		<script type="text/javascript" src="clear_proof.js"></script>-->

		<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/webPage/debtDetails/clear_proof.js}"></script>
	</body>
</html>
