<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" />
<head>
	<meta charset="UTF-8"/>
	<title>债务详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" th:href="@{/common/css/weui.min.css}"/>
	<link rel="stylesheet" th:href="@{/common/css/jquery-weui.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/public.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webPage/debtDetails/debtDetails.css}"/>
	<link rel="shortcut icon" th:href="@{/common/images/logo.png}"/>
	<script type="text/javascript" th:src="@{/common/js/jquery.1.8.1.js}"></script>
</head>
<body>
<a href="javascript:history.go(-1)"><i class="icon-return_01 back"></i></a>
<div class="product_name">
	<h5>产品名称：<span class="getNum" id="productName"></span></h5>
	<h5>当前逾期债务总额：<span class="red" id="debtTotal"></span></h5>
	<h5>借款公司：<span class="getNum" id="clientCompanyName"></span></h5>
	<!--<h5>提现卡号：<span class="getNum" id="">6217004400011828706</span></h5>-->
</div>
<div class="details_wrapper" id="details_box"></div>

<!--<ul class="debt_footer">
	<li><img th:src="@{/webPage/debtDetails/zqfw.png}" class="extension_service" /><h6>展期服务</h6></li>
	<li><img class="overview_debt" th:src="@{/webPage/debtDetails/jmjecx.png}"/><h6>减免资格查询</h6></li>
	<li><img class="certificate_authorization" th:src="@{/webPage/debtDetails/jqzm.png}"/><h6>结清证明</h6></li>
</ul>-->
<script type="text/javascript" th:src="@{/common/js/jquery-weui.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/jquery.mobile-1.4.5.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/public.js}"></script>
<script type="text/javascript" th:src="@{/webPage/debtDetails/debtDetails.js}"></script>
</body>
</html>
